*{
    background: url(../../assets/images/water.jpg);
    background-size: cover;
    /* background-repeat: no-repeat;   */
    
    
}
.quote-card{
    /* border: 1px solid white ; */
    box-shadow: 2px 2px 2px 1px rgba(0, 106, 76, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
} 
 h1{
    font-weight: 700;
    text-align: center;
    color: #00868B;
}
.head{
    padding: 30px;
    text-align: center;
    margin-left: 15%;
    /* border: 1px solid white; */
    box-shadow: 3px 3px 3px 2px rgba(0, 106, 76, 0.5);
    /* border: 1px solid #00868B; */
    border-radius: 20px;
    width: 70%;
    
}
h2{
    color: rgb(94, 100, 79);
}
