<div class="container-fluid formm">
    <h2 class="text-centre" style="color: #00868B;">Create a new quote</h2>
    <hr>
    <form>
        <div class="form-group">
            <label for="quote">Quote:</label>
            <input type="text" class="form-control" id="quote" #userquote required>
              
        </div>
        <div class="form-group">
            <label for="details">Quote Description:</label>
            <textarea class="form-control" id="description" rows="4"  name="description" #userdetail
               required></textarea>
             
            </div>
        <div class="form-group">
            <label for="author">Quote Author:</label>
            <input type="text" class="form-control" id="author"  name="author" #userauthor
               required>
              
            </div>
        <div class="form-group">
            <label for="submit">Submited By:</label>
            <input type="text" class="form-control" id="submit"  name="submit"
              #usersubmit required>
               
            </div>
            <button type="submit" (click)="addQuote(userquote.value,userdetail.value,userauthor.value, usersubmit.value)" class="btn btn-secondary btn-sm">Add Quote</button>
    </form>
</div>
